<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/sign-up.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
</head>
<body>
<div>
  <h1>Create an account</h1>
</div>
  <form action="/auth/sign-up" method="POST">
<div>
    <label for="username"></label>
    <input type="text" name="username" id="username" placeholder="Username" required />
</div>

<div>
    <label for="password"></label>
    <input type="password" name="password" id="password" placeholder="Password" required />
</div>

<div>
    <label for="confirmPassword"></label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required />
</div>


    <button type="submit">Sign up</button>
  </form>
</body>
</html>
