<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  
  <% if (user) { %>
    <div id="Welcome">
      <%- include('../views/partials/_navbar.ejs') %>
    <h1 >Welcome To Your Journals, <%= user.username %>!</h1>
  <% } else { %>
    <h1 class="Welcome">Welcome to Your Journals </h1> 
    <h3 class="access">sign up or sign in to your account</h3>
    <a class="up"  href="/auth/sign-up">Sign Up</a>
    <a  class="in" href="/auth/sign-in">Sign In</a>
   
  <!-- </div> -->
  <% } %>
</body>
</html>
