<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="CSS/home.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
  <% if (user) { %>
    <h1>Welcome To Your Diaries, <%= user.username %>!</h1>
    <p>
    </p>
  <% } else { %>
    <h1>Welcome to Your Diaries</h1>
  <% } %>
</body>
</html>
