@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: "Parkinsans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(252, 252, 249);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    box-sizing: border-box;
    background-image: url(https://img.freepik.com/free-photo/ink-pen-near-antique-notebook_23-2147775761.jpg?t=st=1732998461~exp=1733002061~hmac=8f0880c2942bb4882b2dcbf2b3e3b3d700d6e285088d174e0a51ad15e60fcd18&w=1800);
}

nav {
    position: fixed; 
    top: 0;
    width: 50%; 
    color: rgb(7, 7, 7);
    padding: 10px 20px; 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    z-index: 1000; 
    font-weight: bold; 
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #050404;
    font-size: 2rem;
    font-weight: bold;
}
.edit {
    margin-top: 250px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 20px;
}

form div {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #0b0a0a;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: vertical;
}

button {
    background-color: rgb(100, 103, 108);
    color: #070606;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: rgb(148, 152, 158);
}