@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: "Parkinsans", sans-serif;
}

body {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 212, 202);
    background-image: url(https://img.freepik.com/free-photo/spiral-notepad-white-table-paper_1203-6086.jpg?t=st=1732974797~exp=1732978397~hmac=1e57b9c6354d7e523e49eb6135e496395b0bf769b82087650ff471fe978b45c3&w=1800);
    background-size: cover; 
    background-repeat: no-repeat;
}

h1 {
    margin-bottom: 20px; 
    font-size: 1.8rem; 
    color: #333; 
    text-align: center; 
}

form {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    background-color: rgba(117, 111, 111, 0.9); 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

form div {
    margin-bottom: 20px; 
}

input {
    width: 100%; 
    padding: 10px; 
    font-size: 1rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

button {
    width: 100%; 
    padding: 10px; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    background-color: rgb(100, 103, 108); 
    color: white; 
    cursor: pointer; 
    font-weight: bold; 
}

button:hover {
    background-color: rgb(148, 152, 158); 
}