<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h3>Your Journals</h3>
    <ul>
        <% diaries.forEach((diary) => {
            %>
            <li>
                <a href="/diaries/<%=diary._id%>"> <%=diary.title%></a>
            </li>
       <% }) %>
    </ul>

    <a href="/diaries/new">Add New Journal</a>
</body>
</html>