<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/new.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h2>Create a new Journal</h2>
    <form action="/diaries" method="POST">
        <label for="title">Title:</label>
        <input id="title" type="text" name="title"/>

        <label for="journal">Journal:</label>
        <textarea name="journal" id="journal"></textarea>

        <label for="createdOn">Created On:</label>
        <input type="date" id="createdOn" name="createdOn" value="<%= new Date().toISOString().split('T')[0] %>" />

        <button type="submit">Create New Journal</button>
    </form>
</body>
</html>